{
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"tabWidth": 2,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"bracketSameLine": true,
	"printWidth": 120,
	"semi": false,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"importOrder": [
		"<BUILTIN_MODULES>",
		"^(svelte/(.*)$)|^(svelte$)",
		"<THIRD_PARTY_MODULES>",
		"",
		"^types$",
		"^@/types/(.*)$",
		"^@/config/(.*)$",
		"^@/lib/helpers/(.*)$",
		"^@/lib/components/ui/(.*)$",
		"^@/lib/components/(.*)$",
		"^@/lib/(.*)$",
		"",
		"^[./]"
	  ],
	  "importOrderSeparation": false,
	  "importOrderSortSpecifiers": true,
	  "importOrderBuiltinModulesToTop": true,
	  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
	  "importOrderMergeDuplicateImports": true,
	  "importOrderCombineTypeAndValueImports": true
}
