@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 255 255 255;
        --color-secondary: 229 231 235;
        --color-tertiary: 203 213 225;
        --text-primary: 30 41 59;
        --text-content: 71 85 105;
        --card-text-primary: 15 23 42;
        --card-text-secondary: 51 65 85;
        --labels: 0 0 0;
        --buttons: 255 255 255;
        --herobuttons: 15 23 42;
        --herobuttons-hover: 51 65 85;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-primary: 30 41 59;
            --color-secondary: 226 232 240;
            --color-tertiary: 148 163 184;
            --text-primary: 255 255 255;
            --text-content: 214 211 209;
            --card-text-primary: 15 23 42;
            --card-text-secondary: 51 65 85;
            --labels: 0 0 0;
            --buttons: 0 0 0;
            --herobuttons: 14 165 223;
            --herobuttons-hover: 56 189 248;
        }
    }
}

.clienthide {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

@media (prefers-reduced-motion) {
    .clienthide {
        transition: none;
    }
}

.show {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
}